<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <appSettings>
    <!-- Directories to monitor-->
    <add key="rightFaxDropDirectory" value="c:\inetpub\mailroot\drop\" />
    <add key="rightFaxCacheDirectory" value="c:\inetpub\mailroot\ercache\" />
    <!-- Pruning:-->
    <add key="rightFaxDropPruneInterval" value="720" />
    <add key="rightFaxDropFileAgeHours" value="2" />
    <!-- Error Check, Move, Rename -->
    <add key="rightFaxDropErrorInterval" value="5" />
    <add key="rightFaxDropMaxErrorChecks" value="3" />
    <!--Error file age check-->
    <add key="rightFaxCacheInterval" value="1440" />
    <add key="errorCacheDaysToKeep" value="3" />
    <!--
    Examples:
    
        rightFaxDropDirectory:
              Detail: Location to monitor "drop" activity
               Value: String
                Unit: Text
             Example: C:\Windows\System32
              Result: Monitor Drop Directory
              
       rightFaxCacheDirectory:
              Detail: Location to monitor "error" age
               Value: String
                Unit: Text
             Example: C:\Windows\System32
              Result: Monitor Error Directory
    
    rightFaxDropPruneInterval:
              Detail: How often the timer will scan the "drop" directory
               Value: Integer
                Unit: Minutes
             Example: 720
              Result: Check every 12 hours
         
     rightFaxDropFileAgeHours:
              Detail: Age between NOW and LastModified of files in the "drop" directory
               Value: Integer
                Unit: Quantity
             Example: 2
              Result: Check LastModified does not exceed 2 hours old.
                
    rightFaxDropErrorInterval:
              Detail: How often the timer will scan for errors in the "drop" directory
               Value: Integer
                Unit: Minutes
             Example: 5
              Result: Check every 5 minutes
   
   rightFaxDropMaxErrorChecks:
              Detail: Max attempts renaming ERROR files to EML in the "drop" directory
               Value: Integer
                Unit: Quantity
             Example: 3
              Result: Make 3 attempts to rename a file
        
        rightFaxCacheInterval:
              Detail: How often the timer will scan the "ercache" directory
               Value: Integer
                Unit: Minutes
             Example: 1440
              Result: Check on "ercache" directory every 24 hours
                
         errorCacheDaysToKeep:
              Detail: Age of files to keep before removed from "ercache" directory
               Value: Integer
                Unit: Quantity        
             Example: 3
              Result: Remove files older than 3 days
    -->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>